<div class="text-center align-middle px-5 py-5">
    <article>
        <h2 class="title py-5">Gracie family</h2>
        <img src="/images/graciefamily.jpg" alt="gracie family">
        <p class="text py-5">The Gracie Family are a prominent martial arts family originally from Belém, state of Pará,
            Brazil whose ancestors came from Paisley, Scotland. They are known for creating the self-defense martial
            arts
            system
            of
            Gracie Jiu-Jitsu, also known as Brazilian Jiu-Jitsu.[4]

            They have been successful in combat sports competitions for over 80 years representing their self-defense
            system
            (Gracie
            Jiu-Jitsu) including mixed martial arts (MMA), Vale tudo and submission wrestling events.[5] Several members
            were
            involved in the creation of the Ultimate Fighting Championship (UFC) along with the promoter Art Davie.

            As a family, the Gracies upheld the "Gracie Challenge", a martial arts challenge intended to showcase the
            effectiveness
            of their style of jiu-jitsu, against other martial arts disciplines. Members have affinity to, and are
            consanguineously
            related to the Machado family.</p>
    </article>
    <article>
        <h3 class="title py-5">Jiu-Jitsu</h3>
        <img src="/images/jiujitsu.jpg" alt="jiutjitsu">
        <p class="text py-5">Gastão Gracie from Rio de Janeiro, the grandson of George Gracie through his son Pedro
            married Cesarina
            Pessoa
            Vasconcellos, the daughter of a wealthy Ceará family, in 1901 and decided to settle in Belém do
            Pará.[unreliable
            source?] Gastão Gracie became a business partner of the American Circus in Belém. In 1916, the Italian
            Argentine
            Queirolo Brothers staged circus shows there and presented Mitsuyo Maeda, a Japanese judoka and prize
            fighter.
            Gastão Gracie also was responsible for helping Maeda establishing a Japanese community in Brazil. In
            1917,
            Carlos
            Gracie, the eldest son of Gastão Gracie, watched a demonstration by Mitsuyo Maeda at the Da Paz Theatre and
            decided to
            learn judo. Mitsuyo Maeda, also known as Conde Koma thus accepted to teach Gastão's son Carlos as a
            thank
            you to
            Gastão for helping him get settled. In 1921, however, following financial hardship and his own father
            Pedro's
            demise,
            Gastão Gracie returned to Rio de Janeiro with his family.

            Maeda's teachings were then passed on through local Rio de Janeiro coaches to Carlos and brothers Oswaldo,
            Gastão Jr.,
            George, and Hélio. There's a version saying that Helio was too young and slow at that time to learn the art
            and
            due to
            his medical imposition was prohibited to physically partake in training, but it is now known that he became
            a
            coxswain
            for the local rowing team as well as a competitive swimmer. Hélio successfully learned the art of
            Jiu
            Jitsu by
            watching his older brothers train, but due to his fragile condition instead of using pure strength Hélio
            learned
            to use
            leverage and specific body movements to successfully submit his opponents. Therefore, today Hélio Gracie is
            considered
            the man responsible for developing Brazilian jiu-jitsu into what it is today.

            For a number of years, the Gracie family ran a competitive monopoly on vale tudo events.Through their
            competitive
            rise, the men allocated power and influence with which they sought to promote Gracie family members within
            the
            vale tudo
            community.

            Roger Gracie won the World Jiu-Jitsu Championship 10 times in various weight divisions (6 times at 100 kg,
            once
            at
            100+kg, and 3 times in the Absolute division). He also won the Pan-American Championship in the Absolute
            division in
            2006 and the European Championships in 2005 in the 100+kg and Absolute divisions.

            Kron Gracie won the ADCC Submission Wrestling World Championship in the under 77 kg division in 2013 and
            the
            European Championships in the 82 kg division in 2009.

            Clark Gracie won the Pan-American Championship in the under 82 kg division in 2013.

            Kyra Gracie won the ADCC Submission Wrestling World Championship in the Women's under 60 kg division in
            2005,
            2007, and
            2011 and the World Jiu-Jitsu Championship four times (three times in the Women's under 64 kg division and
            once
            in the
            Women's Absolute Division).</p>
    </article>
    <article>
        <h3 class="title py-5">Gracie Jiu-Jitsu philosophy</h3>
        <p class="text py-5">The Gracie philosophy goes beyond the application of simply submitting opponents. The
            Gracie philosophy
            prepares
            practitioners for life, enabling them to live a healthy life and use their body and mind to its full
            potential. The
            philosophy promotes a life free of drugs, alcohol, and cigarettes. The reason being that taking care of your
            body is
            crucial in reaching your full potential in Jiu Jitsu. Staying connected with family and friends is also a
            must in the
            family's philosophy, as it develops mental and spiritual strength among practitioners. Jiu Jitsu to the
            Gracie's is a
            way of life, that had been established by founders of Brazilian jiu-jitsu (BJJ), Grand Masters Carlos and
            Hélio Gracie.</p>
    </article>
</div>