<div class="text-center align-middle px-5 py-5">
    <article>
        <img src="/images/ufc.jpg" alt="ufc">
        <h4 class="title py-5">Ultimate Fighting Championship</h4>
        <p class="text py-2">In the early 1990s, Rorion Gracie collaborated with promoter Art Davie to create an
            eight-man
            single-elimination
            tournament for the purpose of showcasing the effectiveness of Gracie jiu-jitsu against other martial arts.
            The
            tournament would be no-holds-barred combat, much like the vale tudo matches the family had participated in
            for years in
            Brazil. The event was to be televised and would aim to publicly determine the best martial art.

            The inaugural tournament took place on November 12, 1993. Rorion's younger brother Royce served as a
            combatant in the
            tournament, representing the family's martial art. Despite being the smallest competitor, Royce was able to
            win all
            three of his matches, and was crowned champion.

            As more events were held, Royce would go on to win two more early UFC tournaments. His victories brought
            widespread
            attention to the family's style of jiu-jitsu, attracting many martial artists, especially in America, to
            begin training
            the art that proved so effective against the various styles showcased in the early UFC tournaments.</p>
    </article>
</div>